networks:
  digitalcare_network:
    driver: bridge

services:
  postgres:
    image: postgres:16-alpine
    container_name: digitalcare_postgres_local
    restart: unless-stopped
    environment:
      POSTGRES_DB: digitalcare
      POSTGRES_USER: digitalcare_user
      POSTGRES_PASSWORD: digitalcare_password
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data
    networks:
      - digitalcare_network
  django:
    container_name: digitalcare_django_prod
    build:
      context: ./digitalcare
    command: >
      sh -c "
      echo 'DEBUG: Environment variables:' &&
      echo 'DATABASE_URL: ${DATABASE_URL}' &&
      echo 'SECRET_KEY: ${SECRET_KEY}' &&
      python manage.py collectstatic --noinput --clear &&
      python manage.py migrate &&
      gunicorn digitalcare.wsgi:application --bind 0.0.0.0:8000 --workers 3"
    volumes:
      - ./digitalcare:/usr/src/app/
      - static_volume_prod:/usr/src/app/staticfiles
      - media_volume_prod:/usr/src/app/media
    expose:
      - "8000"
    environment:
      DJANGO_SETTINGS_MODULE: digitalcare.settings
      DEBUG: ${DEBUG:-0}
      SECRET_KEY: ${SECRET_KEY}
      ALLOWED_HOSTS: ${ALLOWED_HOSTS}
      DATABASE_URL: ${DATABASE_URL}      # Render Postgres
      REDIS_URL: ${REDIS_URL}            # Redis Cloud
      EMAIL_HOST_USER: ${EMAIL_HOST_USER}
      EMAIL_HOST_PASSWORD: ${EMAIL_HOST_PASSWORD}
      TWILIO_ACCOUNT_SID: ${TWILIO_ACCOUNT_SID}
      TWILIO_API_KEY_SID: ${TWILIO_API_KEY_SID}
      TWILIO_API_KEY_SECRET: ${TWILIO_API_KEY_SECRET}
      TWILIO_TOKEN_TTL: ${TWILIO_TOKEN_TTL}
      CLOUDINARY_URL: ${CLOUDINARY_URL}
    depends_on:
      - postgres
      - redis
    networks:
      - digitalcare_network
    restart: unless-stopped
  redis:
    image: redis:7-alpine
    container_name: digitalcare_redis_local
    restart: unless-stopped
    ports:
      - "6380:6379"
    networks:
      - digitalcare_network

  celery:
    container_name: digitalcare_celery_prod
    build:
      context: ./digitalcare
    command: >
      sh -c "
      until python manage.py showmigrations | grep '\[ \]'; do
        echo 'Waiting for Django to apply migrations...';
        sleep 3;
      done;
      celery -A digitalcare worker --loglevel=INFO"
    volumes:
      - ./digitalcare:/usr/src/app/
    environment:
      DJANGO_SETTINGS_MODULE: digitalcare.settings
      DEBUG: ${DEBUG:-0}
      SECRET_KEY: ${SECRET_KEY}
      ALLOWED_HOSTS: ${ALLOWED_HOSTS}
      DATABASE_URL: ${DATABASE_URL}
      DB_SSL_REQUIRE: ${DB_SSL_REQUIRE}      # Render Postgres
      REDIS_URL: ${REDIS_URL}            # Redis Cloud
      EMAIL_HOST_USER: ${EMAIL_HOST_USER}
      EMAIL_HOST_PASSWORD: ${EMAIL_HOST_PASSWORD}
      TWILIO_ACCOUNT_SID: ${TWILIO_ACCOUNT_SID}
      TWILIO_API_KEY_SID: ${TWILIO_API_KEY_SID}
      TWILIO_API_KEY_SECRET: ${TWILIO_API_KEY_SECRET}
      TWILIO_TOKEN_TTL: ${TWILIO_TOKEN_TTL}
      CLOUDINARY_URL: ${CLOUDINARY_URL}
    depends_on:
      - django
      - postgres
      - redis
    networks:
      - digitalcare_network
    restart: unless-stopped

  celery_beat:
    container_name: digitalcare_celery_beat_prod
    build:
      context: ./digitalcare
    command: >
      sh -c "
      until python manage.py showmigrations | grep '\[ \]'; do
        echo 'Waiting for Django to apply migrations...';
        sleep 3;
      done;
      celery -A digitalcare beat -l INFO --scheduler django_celery_beat.schedulers:DatabaseScheduler"
    volumes:
      - ./digitalcare:/usr/src/app/
    environment:
      DJANGO_SETTINGS_MODULE: digitalcare.settings
      DEBUG: ${DEBUG:-0}
      SECRET_KEY: ${SECRET_KEY}
      ALLOWED_HOSTS: ${ALLOWED_HOSTS}
      DATABASE_URL: ${DATABASE_URL}
      DB_SSL_REQUIRE: ${DB_SSL_REQUIRE}      # Render Postgres
      REDIS_URL: ${REDIS_URL}            # Redis Cloud
      EMAIL_HOST_USER: ${EMAIL_HOST_USER}
      EMAIL_HOST_PASSWORD: ${EMAIL_HOST_PASSWORD}
      TWILIO_ACCOUNT_SID: ${TWILIO_ACCOUNT_SID}
      TWILIO_API_KEY_SID: ${TWILIO_API_KEY_SID}
      TWILIO_API_KEY_SECRET: ${TWILIO_API_KEY_SECRET}
      TWILIO_TOKEN_TTL: ${TWILIO_TOKEN_TTL}
      CLOUDINARY_URL: ${CLOUDINARY_URL}
    depends_on:
      - django
      - postgres
      - redis
    networks:
      - digitalcare_network
    restart: unless-stopped

  nginx:
    image: nginx:1.25-alpine
    container_name: digitalcare_nginx_prod
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - static_volume_prod:/usr/src/app/staticfiles:ro
      - /dev/null:/etc/nginx/conf.d/default.conf
      - media_volume_prod:/usr/src/app/media
    ports:
      - "8000:80"
    depends_on:
      - django
    
    networks:
      - digitalcare_network
    restart: unless-stopped

volumes:
  static_volume_prod:
  postgres_data_prod:
  media_volume_prod: